html {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

#container{
    height: 1000px;
    width: 500px;
    color: #FF9A00;
}


.pet {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

#pet-image {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.heading {
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0 1.5rem 0;
    font-weight: bolder;
}

.input-div {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.task-input {
    width: 15rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    background-color: #ff990091;
    font-size: 1rem;
}

.tasks-list-div {
    display: flex;
    flex-direction: column;
}

.task-div {
    display: flex;
    justify-content: space-between;
    margin: .7rem 0rem;
}

.task-div:not(:last-child) {
    padding-bottom: 1.5rem;
    border-bottom : solid 1px black;
}

.task-text {
    justify-self: center;
    max-width: 20rem;
    word-wrap: break-word;
    font-size: 1.3rem;
    vertical-align: middle;
    line-height: 1.5;
}

.task-completed {
    text-decoration: line-through;
    font-style: italic;
    color: #2a363b80;
}

.task-controls {
    display: flex;
    align-items: center;
}

.task-clear-div {
    display: flex;
    justify-content: center;
    margin: 2.5rem 0 1.5rem 0;
}

.task-btn {
    min-width: 4rem;
    border: none;
    outline: none;
    padding: .7rem .9rem;
    background-color: #FF9A00;
}

.task-btn:not(:last-child) {
    border-right : solid 1px black;
}

.task-btn:hover, .task-btn:focus {
    background-color: #FF165D;
}

.task-input, .task-btn-edit {
    border-radius: 7px 0 0 7px;
}

.task-btn-submit, .task-btn-do {
    border-radius: 0 7px 7px 0;
}

.task-btn-clear {
    border-radius: 7px;
}